@media screen and (min-width: 1500px) {
  .container {
    max-width: 1200px;
    margin: auto;
  }
}
@media screen and (max-width: 800px) and (min-width: 715px) {
  .container nav li {
    margin: 10px 15px;
  }
}
@media screen and (max-width: 715px) and (min-width: 540px) {
  .container nav li {
    margin: 10px;
    font-size: 12px;
  }

  .container-boxs-app .box-app .apps .app {
    margin: 0 10px;
  }
}
@media screen and (max-width: 540px) and (min-width: 467px) {
  .container nav li {
    margin: 10px;
    font-size: 10px;
  }

  .container-boxs-app .box-app .apps .app {
    margin: 0 10px;
  }
}
@media screen and (max-width: 467px) and (min-width: 395px) {
  .container nav li {
    margin: 10px 5px;
    font-size: 10px;
  }

  .container-boxs-app .box-app .apps .app {
    margin: 0 10px;
  }
}
@media screen and (max-width: 395px) and (min-width: 300px) {
  .container nav li {
    margin: 10px 5px;
    font-size: 7px;
  }

  .container-boxs-app .box-app .apps .app {
    margin: 0 10px;
  }
}
@media screen and (max-width: 300px) and (min-width: 250px) {
  .container nav li {
    margin: 10px 5px;
    font-size: 5px;
  }

  .container-boxs-app .box-app .apps .app {
    margin: 0 10px;
  }
}
@media screen and (max-width: 250px) {
  .container nav li {
    margin: 10px 4px;
    font-size: 5px;
  }

  .container-boxs-app .box-app .apps .app {
    margin: 0 10px;
  }
}
@media screen and (max-width: 500px) {
  .container-boxs-app .box-app .apps .app {
    width: 50px;
    height: 50px;
  }

  .container-boxs-app .box-app .apps .app img {
    width: 35px;
    margin: 7.5px;
  }

  .container-boxs-app .box-app .apps .app h3 {
    font-size: 10px;
  }

  aside {
    width: 100%;
  }

  .search input {
    width: 85%;
  }
}